<footer class="social-footer">
  <ul class="social-links">
    <li>
      <a href="https://linkedin.com/in/ciatech-uoledtech" target="_blank"
        ><i class="fab fa-linkedin"></i> LinkedIn</a
      >
    </li>
    <li>
      <a href="https://www.instagram.com/learning.rocks_" target="_blank"
        ><i class="fab fa-instagram"></i> Instagram</a
      >
    </li>
    <li>
      <a href="https://github.com/skore-io" target="_blank"><i class="fab fa-github"></i> GitHub</a>
    </li>
  </ul>
</footer>
