html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-fill: #252c32;
  --color-fill-secondary: #45484e;
  --color-fill-tertiary: #8e8f92;
  --color-fill-fourth: #b8bbbd;
}

::-webkit-scrollbar {
  background-color: var(--color-fill-secondary);
  width: 14px;
  height: 14px;
}

body ::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-fill-tertiary);
  border-radius: 12px;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-fill-fourth);
}

body {
  background-color: #22272e;
}

.gradient-default {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.01), var(--color-fill) 85%),
    radial-gradient(ellipse at top left, rgb(128 255 255 / 32%), transparent 50%),
    radial-gradient(ellipse at top right, rgb(87 83 215 / 32%), transparent 55%),
    radial-gradient(ellipse at center right, rgb(44 185 249 / 50%), transparent 50%),
    radial-gradient(ellipse at center left, rgba(214, 51, 132, 0.5), transparent 50%);
  position: relative;
  min-height: 100vh;
}

.gradient-default:after {
  background-color: #252c32;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='331' height='331' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233D4852' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233E4953'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

a {
  text-decoration: none;
}

.title-team {
  margin-bottom: 3rem;
  color: #fff;
  text-align: center;
}

h2 {
  color: #d6e0eb;
  margin: 1.25em 0 0.438em;
  border-left: 3px solid #67d0b3;
  padding-left: 1rem;
}

.row-product {
  border-left: 3px solid #f000bc;
}

.row-data {
  border-left: 3px solid #f04400;
}

.row-operation {
  border-left: 3px solid #00f01c;
}

.wrapper {
  padding: 2em 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
}

.col,
.col-wide {
  flex: 0 0 auto;
  max-width: 100%;
  padding: 15px;
}

.col-wide {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .col {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 980px;
  }

  .col {
    width: 33.33333333%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1450px;
  }

  .col {
    width: 25%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(31 37 44 / 80%);
  border-radius: 0.625em;
  border: 3px solid transparent;
  color: #d2d9e0;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  justify-content: space-between;
  padding: 0.875em;
  position: relative;
  transition: 0.2s ease-out all;
  height: 340px;
}

.card:hover {
  box-shadow: 1px 0 20px 2px #afb3b624;
  border-color: #444c56;
  transform: scale(1.05);
}

.card .content {
  background-color: #444c56;
  border-radius: 0.625em;
  overflow: hidden;
  display: block;
  font-size: 14px;
  position: relative;
}

.card .scroll {
  overflow-y: auto;
  height: 210px;
  padding: 1.25em 1em;
}

.card-footer {
  align-items: center;
  display: flex;
  margin-top: 0.938em;
  position: relative;
}

img.avatar {
  border-radius: 50%;
  margin-right: 0.625em;
  width: 3.125em;
  height: 3.125em;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.author {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 6px;
}

.name {
  color: #adbac7;
}

.role {
  color: ghostwhite;
  line-height: 1;
  font-size: 13px;
  margin-top: 0.2rem;
}

.role:after {
  content: '_';
}

img.uol {
  align-self: flex-end;
  margin-left: auto;
  margin-bottom: 0.625em;
  width: 30%;
}

footer {
  text-align: center;
  color: #626c74;
  font-size: 13px;
  margin-top: 90px;
}
