.social-footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links li a:hover {
  color: var(--link-color);
}

footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
}

footer p {
  color: #626c74;
  font-size: 13px;
  margin-bottom: 20px;
}
