html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-fill: #252c32;
  --color-fill-secondary: #45484e;
  --color-fill-tertiary: #8e8f92;
  --color-fill-fourth: #b8bbbd;
  --color-primary: #ffcb00;
  --link-color: #007acc;
}

::-webkit-scrollbar {
  background-color: var(--color-fill-secondary);
  width: 14px;
  height: 14px;
}

body ::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-fill-tertiary);
  border-radius: 12px;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-fill-fourth);
}

body {
  margin: 0;
  height: 100vh;
  background-image:
    linear-gradient(180deg, rgba(255, 255, 255, 0.01), var(--color-fill) 100%),
    radial-gradient(ellipse at top left, rgba(128, 255, 255, 0.3), transparent 50%),
    radial-gradient(ellipse at top right, rgba(87, 83, 215, 0.3), transparent 55%),
    radial-gradient(ellipse at center right, rgba(12, 12, 12, 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(0, 0, 0, 0.5), transparent 50%);
  background-color: #000;
  background-size:
    100% 100%,
    150% 150%,
    150% 150%,
    150% 150%,
    150% 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.content-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(180deg, rgba(255, 255, 255, 0.01), var(--color-fill) 100%),
    radial-gradient(ellipse at top left, rgba(128, 255, 255, 0.3), transparent 50%),
    radial-gradient(ellipse at top right, rgba(87, 83, 215, 0.3), transparent 55%),
    radial-gradient(ellipse at center right, rgba(12, 12, 12, 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(0, 0, 0, 0.5), transparent 50%);
  z-index: 0;
}

.content-wrapper {
  position: relative;
  z-index: 1;
}
