html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-fill: #252c32;
  --color-fill-secondary: #45484e;
  --color-fill-tertiary: #8e8f92;
  --color-fill-fourth: #b8bbbd;
  --color-primary: #ffcb00;
  --link-color: #007acc;
}

::-webkit-scrollbar {
  background-color: var(--color-fill-secondary);
  width: 14px;
  height: 14px;
}

body ::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-fill-tertiary);
  border-radius: 12px;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-fill-fourth);
}

body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.01), var(--color-fill) 100%),
    radial-gradient(ellipse at top left, rgba(128, 255, 255, 0.3), transparent 50%),
    radial-gradient(ellipse at top right, rgba(87, 83, 215, 0.3), transparent 55%),
    radial-gradient(ellipse at center right, rgba(12, 12, 12, 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(0, 0, 0, 0.5), transparent 50%);
  background-color: #000;
  background-size:
    100% 100%,
    150% 150%,
    150% 150%,
    150% 150%,
    150% 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.content-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.01), var(--color-fill) 100%),
    radial-gradient(ellipse at top left, rgba(128, 255, 255, 0.3), transparent 50%),
    radial-gradient(ellipse at top right, rgba(87, 83, 215, 0.3), transparent 55%),
    radial-gradient(ellipse at center right, rgba(12, 12, 12, 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(0, 0, 0, 0.5), transparent 50%);
  z-index: 0;
}

.content-wrapper {
  position: relative;
  z-index: 1;
}

header {
  background-color: transparent;
  padding: 10px 20px;
  color: #fff;
  padding: 20px;
  position: relative;
}

header:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, transparent, #ddd, transparent);
}

header img {
  max-width: 100px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.topbar {
  flex: unset;
  text-align: center;
}

.site-logo {
  max-width: 80px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f2c76e;
}

.nav-links li a.active {
  color: #f2c76e;
  font-weight: bold;
  border-bottom: 2px solid #f2c76e;
}

.nav-links li a {
  transition:
    color 0.3s ease,
    border-bottom 0.3s ease;
}

.home-content {
  padding: 50px 0;
  width: 50%;
  position: relative;
  margin: auto;
}

.home-content h1 {
  margin: 0;
  font-size: 2.5em;
  color: #fff;
}

.home-content h2 {
  margin: 30px;
  margin-left: 0;
  padding: 0 20px;
  border-left: 3px solid var(--color-primary);
  color: #fff;
  text-align: left !important;
}

.home-content p {
  font-size: 14px;
  color: #a2a2a2;
  margin-bottom: 20px;
}

.social-footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links li a:hover {
  color: var(--link-color);
}

footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
}

footer p {
  color: #626c74;
  font-size: 13px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .home-content {
    width: 90%;
  }
}

.layout {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #2c2c54;
  color: #ffffff;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.sidebar ul li span {
  margin-right: 10px;
  font-size: 24px;
}

.sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
}
