html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-fill: #252c32;
  --color-fill-secondary: #45484e;
  --color-fill-tertiary: #8e8f92;
  --color-fill-fourth: #b8bbbd;
  --color-primary: #ffcb00;
  --link-color: #007acc;
}

::-webkit-scrollbar {
  background-color: var(--color-fill-secondary);
  width: 14px;
  height: 14px;
}

body ::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-fill-tertiary);
  border-radius: 12px;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-fill-fourth);
}

.gradient-default {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.01), var(--color-fill) 85%),
    radial-gradient(ellipse at top left, rgb(128 255 255 / 32%), transparent 50%),
    radial-gradient(ellipse at top right, rgb(87 83 215 / 32%), transparent 55%),
    radial-gradient(ellipse at center right, rgb(44 185 249 / 50%), transparent 50%),
    radial-gradient(ellipse at center left, rgba(214, 51, 132, 0.5), transparent 50%);
  position: relative;
  min-height: 100vh;
  background-size: cover;
}

.gradient-default:after {
  background-color: #252c32;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='331' height='331' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233D4852' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233E4953'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

body {
  background-color: #22272e;
}

header {
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}

header h1 {
  color: #fff;
  text-align: center;
}

header:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, transparent, #ddd, transparent);
}

header img {
  max-width: 100px;
  margin: auto;
}

.home-content {
  padding: 50px 0;
  width: 50%;
  position: relative;
  margin: auto;
}

.home-content h1 {
  margin: 0;
  font-size: 2.5em;
  color: #fff;
}

.home-content h2 {
  margin: 30px;
  margin-left: 0;
  padding: 0 20px;
  border-left: 3px solid var(--color-primary);
  color: #fff;
  text-align: left !important;
}

.home-content p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 20px;
}

.links {
  font-size: 18px;
  list-style: none;
  padding: 0;
  color: #fff;
  margin-top: 20px;
}

.links li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.links li a {
  margin-left: 10px;
  color: var(--link-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.links li a:hover {
  color: var(--color-primary);
}

.social-footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links li a:hover {
  color: var(--link-color);
}

footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
}

footer p {
  color: #626c74;
  font-size: 13px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .home-content {
    width: 90%;
  }
}
