html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 1.875em 2.813em;
  background-color: #22272e;
}

a.culture {
  text-decoration: none;
  color: #737e89;
  font-size: 1.75rem;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-top: 1.5em;
  color: #adbac7;
}

h2 {
  color: #adbac7;
  margin: 1.25em 0 0.938em; 
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25em;
}

.card {
  background-color: #2d333b;
  border: 2px solid #444c56;
  border-radius: 0.625em;
  box-shadow: 1px 0 20px 2px #afb3b624;
  color: #adbac7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25em;
  min-width: 25em;
  font-weight: 400;
  padding: 0.875em;
}

p {
  background-color: #444c56;
  border-radius: 0.625em;
  max-height: 10.625em;
  padding: 0.188em 0.625em;
  display: -webkit-box;
  font-size: 14px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

footer {
  align-items: center;
  display: flex;
  margin-top: 0.938em;
}

img.avatar {
  border-radius: 50%;
  margin-right: 0.625em;
  width: 3.125em;
  height: 3.125em;
  object-fit: cover;
}

.author {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 600;
}

.name {
  color: #adbac7;
}

.job {
  color: ghostwhite;
}

.job:after {
  content: '_';
}

img.uol {
  align-self: flex-end;
  margin-left: auto;
  margin-bottom: 0.625em;
  width: 30%;
}