<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />

    <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/x-icon" />
    {% include head.html %}
  </head>

  <body>
    <div class="gradient-default">
      {% include header.html %}
      <main>{{ content }}</main>
      {% include footer.html %}
    </div>
  </body>
</html>
