---
layout: default
---

<section class="home-content">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/home.css" />

  <h1 class="title">Descubra o Learning Rocks 🚀</h1>
  <p class="intro">
    Nossa equipe de engenharia adora resolver problemas desafiadores com inovação e criatividade.
    Aqui estão algumas curiosidades que mostram como é trabalhar conosco:
  </p>

  <div class="fun-facts">
    <div class="card">
      <div class="icon">
        <i class="fas fa-coffee"></i>
      </div>
      <h3>Café e Código</h3>
      <p>
        Nossos engenheiros têm uma relação especial com café, a companhia perfeita para momentos de
        concentração e criatividade.
      </p>
    </div>
    <div class="card">
      <div class="icon">
        <i class="fas fa-code"></i>
      </div>
      <h3>Paixão por Código</h3>
      <p>
        Escrever código vai além de uma tarefa. É uma arte que transforma ideias em soluções
        inovadoras.
      </p>
    </div>
    <div class="card">
      <div class="icon">
        <i class="fas fa-bug"></i>
      </div>
      <h3>Bugs? Desafios!</h3>
      <p>
        Encontrar e resolver bugs é visto como uma missão. Cada problema solucionado é um passo para
        a excelência.
      </p>
    </div>
    <div class="card">
      <div class="icon">
        <i class="fas fa-gamepad"></i>
      </div>
      <h3>Gamers de Plantão</h3>
      <p>
        Parte da nossa equipe encontra inspiração no mundo dos jogos, onde estratégia e diversão
        andam de mãos dadas.
      </p>
    </div>
    <div class="card">
      <div class="icon">
        <i class="fas fa-book"></i>
      </div>
      <h3>Aprendizado Contínuo</h3>
      <p>
        Estamos sempre aprendendo e explorando novas tecnologias para nos manter à frente e trazer
        inovação.
      </p>
    </div>
    <div class="card">
      <div class="icon">
        <i class="fas fa-laptop-code"></i>
      </div>
      <h3>Amor por Deploys</h3>
      <p>
        Deploys são vistos como celebrações. Cada nova versão lançada é motivo de orgulho para o
        time.
      </p>
    </div>
  </div>
</section>
